body{
    background-color: #34323050;
}
p{  color: #040132;
    font-family: "IBM Plex Sans Thai" ;
    border: 3px  cornflowerblue;
    padding: 10px;
    margin: 1px;
    background-color: rgb(171, 171, 189);
}
h1{ color: blue;
    font-family: "Montserrat";
    
}
h2{color: rgb(0, 119, 79);
    font-family: "Montserrat";
}
h3{color: rgb(4, 155, 155);
    font-family: "Montserrat";
}
h4{ color: rgb(2, 2, 91);
    font-family: "Montserrat";
    text-decoration: underline;
}
a{
    font-style: italic;
}